.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 80vw;
}

.genre {
  margin-bottom: 1rem;
  font-weight: 500;
}

.movies {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 90vw;
  }
}
