.container {
  position: relative;
  margin-right: 0.6rem;
}

.container:hover {
  cursor: pointer;
}

.bookmark {
  position: absolute;
  font-variation-settings: 'FILL' 1;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  opacity: 0.3;
  z-index: 5;
}

.bookmark:hover {
  opacity: 0.7;
}

.favorited {
  color: rgb(235, 183, 26);
  opacity: 1;
}

.image {
  height: 275px;
  border-radius: 0.4rem;
}
