.nav {
  background: inherit;
  height: 7vh;
  display: flex;
  justify-content: center;
  z-index: 15;
}

.menu {
  display: flex;
  align-items: center;
  width: 80vw;
  justify-content: space-between;
}

.show-menu {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.hamburger {
  display: none;
  color: #808080;
}

.link {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.active {
  color: #fff;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: rgb(16, 22, 29);
  border-radius: 0.4rem;
  height: 35px;
}

.icon-wrapper {
  display: flex;
  margin-bottom: 2px;
  padding: 0 0.6rem 0 0.6rem;
}

.search-icon {
  color: #808080;
  font-size: 18px !important;
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.input {
  font-size: 0.9rem;
  font-weight: 500;
  height: 35px;
}

.button {
  background: inherit;
  color: #808080;
}

@media only screen and (max-width: 1200px) {
  .menu {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    height: 15vh;
  }

  .menu {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
